In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.randint(100000,size=10)

array([73473, 77346, 37948, 86902, 90356,  4335, 69936, 23105, 74871,
       60026])

In [3]:
data={'country':['台灣','美國','澳洲'],'人口':np.random.randint(100000,size=3)}

In [4]:
data

{'country': ['台灣', '美國', '澳洲'], '人口': array([82876, 40931, 57677])}

In [6]:
DF=pd.DataFrame(data)

In [13]:
DF[DF['人口']==DF['人口'].max()]

  country     人口
0      台灣  82876